.checking {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    border-radius: 33.5px;
    margin-top: 40px;
    width: 100%;

    .bar-container {
        height: 12px;
        background: #3CB3AB;
        border-radius: 33.5px;

    }
}