.modal-container {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: 8px;
    width: 730px;
    max-height: 1001px;
    z-index: 99999;
    top: 184px;
    padding: 48px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .modal-content {
        position: relative;

        .close-modal {
            position: absolute;
            top: -20px;
            left: 635px;
            cursor: pointer;
        }

        .modal-header {
            font-family: 'Commissioner';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
            margin-bottom: 19px;
        }

        .modal-text {
            font-family: 'Commissioner';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            display: flex;
            align-items: center;
            color: #7A7A7A;
            margin-bottom: 32px;
        }
    }
    .subcriptions-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
        width: 634px;
        height: 701px;
        margin-top: 80px;
    }
}