.modal-container {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: 8px;
    width: 730px;
    height: 905px;
    z-index: 99999; 
    position: absolute;
    top: 184px;
    left: 355px;
   
}